<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ch.admin.hermes"
    version     = "2.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="HERMES5mobile" value="2.0.0" />

    <name>HERMES 5 mobile</name>

    <description>
    HERMES 5 mobile (c) Marcel Bernet, Zuerich
    </description>

    <author href="http://www.hermes.admin.ch" email="info@isb.admin.ch">
    Marcel Bernet, Zuerich im Auftrag von Informatiksteuerungsorgan Bund ISB
    </author>

</widget>