<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/etl/src/ch/admin/hermes/etl/load/HermesETLApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.admin.hermes.etl.load.HermesETLApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s http://win2008sp/websites/test1/t3&#13;&#10;-u hermes5&#13;&#10;-p point%123-&#13;&#10;scripts/SharePointStandard.js&#13;&#10;D:/TEMP/HERMES5/Hermes/model/de/model_de.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="etl"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:etl}"/>
</launchConfiguration>
